<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Nepse and Sensitive index api</h2>
    <p style="color:purple"><a href="http://127.0.0.1:5000/index"> click here</a>    api url for Nepse and Sensitive Index </p>
    <p style="color:purple"><a href="http://127.0.0.1:5000/index/nepse"> click here</a>    api url for Nepse only Index </p>
    <p style="color:purple"><a href="http://127.0.0.1:5000/index/sensitive"> click here</a>    api url for Sensitive Index </p>
    <p style="color:red"><a href="http://127.0.0.1:5000/live_data"> click here</a>    api url for Live Data </p>


</body>
</html>
