<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Nepse and Sensitive index api</h2>
    <p style="color:purple"><a href="http://127.0.0.1:5000/index"> click here</a>    api url for all Indices </p>
    <p style="color:red"><a href="http://127.0.0.1:5000/live_data"> click here</a>    api url for Live Data </p>
    <p style="color:green"><a href="http://127.0.0.1:5000/today_price"> click here</a>    api url for Today Closing Price </p>
    <p style="color:black"><a href="http://127.0.0.1:5000/company/HDL"> click here</a>    api url for Individual Company detail (replace HDL with any company symbol) </p>
    <p style="color:tomato"><a href="http://127.0.0.1:5000/loser_gainer"> click here</a>    api url for Top Loser and Gainer </p>

</body>
</html>
